<section class="ghost-cat text-center invst clbt ">
<h1 class="text-flicker-in-glow" style="animation-duration: 3s">{{section.settings.main_title}}</h1>
  <p>{{section.settings.content}}</p>
</section>
{% schema %}
  {
    "name": "Collectible Top Section",
    "settings": [
	  {
        "id":"main_title",
        "type":"text",
        "label":"Main Page Title",
        "default":"Collectibles"
     },
     {
        "id":"content",
        "type":"textarea",
        "label":"Main Page Content",
        "default":"With every strain drop and every new iteration, we're delivering collectibles"
     }
	]
  }
{% endschema %}
