<div class="row">
   <div class="col-md-7">     
  <div class="globo-formbuilder" data-id="NzQ5Nzc=">
     </div>
  </div>
  <div class="col-md-5">
    <div class="clr-ghst">
      <img src="{{'Collec-Banner-r2.png' | asset_url}}" class="upld">
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Buy Contact Section",
    "settings": [
      
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "504 x503px recommended"
      }
	],
    "blocks": [  
      
    ]
  }
{% endschema %}