<section class="ghost-cat text-center invst holow">
<h1 class="text-flicker-in-glow" >{{section.settings.main_title}}</h1>
</section>
{% schema %}
  {
    "name": "Hologram Top Section",
    "settings": [
	  {
        "id":"main_title",
        "type":"text",
        "label":"Main Page Title",
        "default":"Hologram Gift"
     }
	]
  }
{% endschema %}
