 <div class="para-area">{{section.settings.text}}</div>
{% schema %}
  {
    "name": "Hologram Top Content",
    "settings": [
	  {
        "id":"text",
        "type":"textarea",
        "label":"Content",
        "default":"<p>Congrats. You scored one of our extra-special, ultra-rare collectible strain cards featuring the Ghost Drops hologram on the back. </p><p>Just 1 in 50 cards features a hologram. Because they’re so special – and because we do things a little differently at Ghost Drops – we want to send you something to celebrate your find.</p><p>Complete and submit all fields in this form, and then look out for a bonus gift dropping in your mailbox in the coming weeks.</p>"
     }
	]
  }
{% endschema %}