<div class="modal _modal fade bg-transparent exampleModalCenter-two" id="exampleModalCenter-two-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-target=".exampleModalCenter-two">
   <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content signi">
         <img src="//cdn.shopify.com/s/files/1/0607/7104/1503/t/5/assets/account-icon.svg?v=298126155812243395" class="top-imgs" alt="">
         <div class="modal-body">
            <div class="signi-content">
               <h5>SIGN IN TO YOUR ACCOUNT</h5>
               <p>If you already have an account, please sign in. If you don't have an account yet, please register.</p>
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" onclick="window.location.href='/account'" class="btn btn-primary-left">Sign in</button>
            <button type="button" onclick="window.location.href='/account/register'" class="btn btn-primary-right">Register</button>
         </div>
      </div>
   </div>
</div>
