{% if section.settings.heading !=blank %}
<h2>{{section.settings.heading}}</h2>
{% endif %}
<ul class="lp-main-six clearfix">
  {% for block in section.blocks %}
     <li><a href="{{block.settings.btn_link}}"><img src="{{block.settings.logo | img_url:'master'}}"></a></li>
  {%endfor%} 
</ul>
 
{% schema %}
  {
    "name": "Ghostfarm 6 logo",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Lp Partners"
      }  
	],
    "blocks": [  
      {
      "type": "image",
      "name": "image",
      "settings": [
        
  		{
        "type": "image_picker",
        "id": "logo",
        "label": "Logos",
        "info": "680x 500px recommended"
        },
        {
        "type": "url",
        "id": "btn_link",
        "label": "Logo link"
      }
      ]
     }
    ],

    "presets": [{
      "name": "Ghostfarm 6 logo",
      "category": "HOMEPAGE"
    }]
  }
{% endschema %}
