<section class="ghost-cat drives">
  <div class="container-fluid">
    <div class="scp-breadcrumb">
      <ul class="breadcrumb wht-bdd">
        <li><a href="/pages/ghost-story">Ghost Story</a></li>
        <li class="active">{{ page.title }}</li>
      </ul>
    </div>
  </div>
  <h1 class="text-flicker-in-glow">{{section.settings.heading}}</h1>
  <h5>{{section.settings.heading2}}</h5>
  <p>{{section.settings.content}}</p>
</section>

{% schema %}
  {
    "name": "NFTS top section",
    "settings": [
	    
        {
        "id":"heading",
        "type":"text",
        "label":"Heading",
        "default":"Strain art NFTs"
        },
        {
        "id":"heading2",
        "type":"textarea",
        "label":"Heading 2",
        "default":"OG ART FROM THE OG BRAND"
        },
        {
        "id":"content",
        "type":"textarea",
        "label":"Paragraph",
        "default":"We’re keeping our legacy artwork alive <b class='d-md-block'>and you can own it</b>"
        }
	],
    "blocks": [
     
    ],
    "presets": [{
      "name": "NFTS top section",
      "category": "HOMEPAGE"
    }]
  }
{% endschema %}

