<!DOCTYPE html>
<html lang="en-US" class="no-js">
  <head>

    <!-- Title -->
    <title>Ghost Drops - Canada's original legacy brand.</title>

    <!-- Required Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="We’re more than just cannabis products. We are Canadian cannabis culture.">

    <!-- Libs CSS -->
    <link rel="stylesheet" href="https://cdn.shopify.com/s/files/1/0607/7104/1503/files/SC-all.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.shopify.com/s/files/1/0607/7104/1503/files/SC-themify-icons.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.shopify.com/s/files/1/0607/7104/1503/files/SC-vegas.min.css">
    <link rel="stylesheet" href="https://cdn.shopify.com/s/files/1/0607/7104/1503/files/SC-animate.min.css">

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CMontserrat:200,300,400,500,700">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="https://cdn.shopify.com/s/files/1/0607/7104/1503/files/SC-theme.css">

  </head>
  <body class="slide-website">

    <!-- Loader -->
    <div class="loader bg-dark">
      <div class="spinner-grow text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <!-- Overlay - Global -->
    <div class="overlay overlay-global">
      <div class="overlay-inner bg-image-holder bg-cover">
        <img src="https://cdn.shopify.com/s/files/1/0607/7104/1503/files/SC-image-4.jpg" alt="background">
      </div>
      <div class="yt-bg-player" data-property="{videoURL:'https://youtu.be/LqVs-iiirLE',containment:'#youtube-background',startAt:0,mute:true,autoPlay:true,loop:true,opacity:1}"></div>
      <div id="youtube-background" class="overlay-inner overlay-video bg-black"></div>
      <div class="overlay-inner bg-dark opacity-20"></div>
    </div>

    <!-- Site navigation -->
    <nav class="site-navbar site-navbar-transparent navbar navbar-expand-lg navbar-dark fixed-top bg-white p-lg-4 p-xl-5" data-navbar-base="navbar-dark" data-navbar-toggled="navbar-light" data-navbar-scrolled="navbar-light">

      <!-- Brand -->
      <a class="navbar-brand" href="#home">
        <img src="https://cdn.shopify.com/s/files/1/0607/7104/1503/files/SC-logo.png" class="navbar-brand-img" alt="">
      </a>

      <!-- Toggler -->
      <button class="navbar-toggler-alternative" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-alternative-icon"></span>
      </button>

      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="navbarCollapse">

        <!-- Navigation -->
        <ul class="navbar-nav ml-auto" id="navigation">
          <li class="nav-item">
            <a class="nav" href="#home"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#subscribe">Get Early access</a>
          </li>

            <li class="nav-item">
              <a class="nav-link" href="https://www.instagram.com/ghostdropsofficial/" target=”_blank”>Instagram</a>
            </li>





          </ul>

        </ul>


      </div>
    </nav>

    <!-- Website Slider -->
    <div class="website-slider">
      <div class="website-slider-inner">

        <!-- Slider Item - Home -->
        <div class="website-slider-item" id="home">

          <section class="min-vh-100 d-flex">
            <div class="container align-self-center text-white text-center">
              <h3 class="mb-7 animated" data-animation="fadeInUp" data-animation-delay="200">New website dropping</h3>
              <h2 class="mb-7 animated" data-animation="fadeInUp" data-animation-delay="200">Out of the shadows and into the spotlight ...<br/>here comes the Ghost.</h2>

              <div class="countdown mb-4 animated" data-animation="fadeInUp" data-countdown="2021/12/17 19:20:00"></div>

              <h2 class="mb-7 animated" data-animation="fadeInUp" data-animation-delay="200">The good shit is coming. </br>It’s so close, you can almost taste it.</h2>

                   <a href="#subscribe" class="btn btn-primary mr-3 scrollto animated" data-animation="fadeInUp" data-animation-delay="600">Get early access</a>
            </div>
          </section>

        </div>

        <!-- Slider Item - Subscribe -->
        <div class="website-slider-item" id="subscribe">

          <section class="min-vh-100 d-flex">
            <div class="container align-self-center text-white">
              <div class="row mb-8 text-center">
                <div class="col-12 col-lg-9 mx-lg-auto">
                  <h2 class="h1 mb-4 animated" data-animation="fadeInUp">Get Early Access</h2>
                  <div class="divider animated" data-animation="fadeInUp" data-animation-delay="200"><span></span></div>
                  <p class="mb-0 animated" data-animation="fadeInUp" data-animation-delay="400">Explore our killer one-of-a-kind legacy strains, research our MVP roster of All-Star partners, shop our new range of Ghost Gear merch, read about our story and the values that drive us.</p>
                  <div class="klaviyo-form-SUXzSN"></div>
</div>
</div>
              <div class="row">
                <div class="col-12 col-lg-8 col-xl-6 mx-lg-auto">
                  <div class="subscribe-form animated" data-animation="fadeInUp" data-animation-delay="600">
                    <form class="mb-0" id="sf" name="sf" action="include/subscribe.php" method="post" autocomplete="off">
                      <div class="form-row">


                      </div>
                    </form>
                    <div class="subscribe-form-result "></div>
                  </div>
                </div>
              </div>
            </div>
          </section>

        </div>

        <!-- Slider Item - About -->
        <div class="website-slider-item" id="about">

          <section class="min-vh-100 d-flex">
            <div class="container align-self-center text-white">
              <div class="row mb-8 text-center">
                <div class="col-12 col-lg-9 mx-lg-auto">
                  <h2 class="h1 mb-4 animated" data-animation="fadeInUp">About Us</h2>
                  <div class="divider animated" data-animation="fadeInUp" data-animation-delay="200"><span></span></div>
                  <p class="mb-0 animated" data-animation="fadeInUp" data-animation-delay="400">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-lg-6 mb-5 mb-lg-0 pr-lg-6 animated" data-animation="fadeInUp" data-animation-delay="600">
                  <p class="mb-0">Pellentesque commodo vehicula turpis, suscipit suscipit libero mollis vitae. Ut imperdiet leo in neque interdum efficitur. Nullam non gravida lectus, sit amet cursus sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed varius ex sed nisl congue rhoncus. Vestibulum vitae nibh vitae ante pretium efficitur ac vitae nunc. Quisque a imperdiet nulla. Fusce et leo blandit, venenatis libero vitae, fermentum lacus. Integer maximus et arcu vitae scelerisque. Proin molestie pretium nunc, id rutrum nisi tempus commodo. Sed laoreet, mi in facilisis dictum.</p>
                </div>
                <div class="col-12 col-lg-6 pl-lg-6 animated" data-animation="fadeInUp" data-animation-delay="800">
                  <p class="mb-0">Ut hendrerit arcu sed aliquet facilisis. Donec mollis ullamcorper sagittis. Praesent cursus magna ligula, molestie sagittis ligula elementum vitae. Sed a lacus enim. Phasellus sed faucibus quam. Duis et sodales felis. Cras luctus sapien vitae fringilla suscipit. In blandit aliquet pharetra. Quisque eleifend, metus sit amet sagittis pulvinar, dui orci egestas ipsum, a tincidunt mi felis rhoncus ante. Aliquam egestas imperdiet nibh, vel aliquet odio faucibus et. Praesent imperdiet commodo rutrum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                </div>
              </div>
            </div>
          </section>

        </div>





      </div>
    </div>
    <!-- End Website Slider -->

    <!-- Site footer -->
    <footer class="position-relative">
      <div class="overlay overlay-advanced d-xl-none">
        <div class="overlay-inner bg-dark"></div>
      </div>

    </footer>



    <!-- Libs JS -->
    <script src="https://cdn.shopify.com/s/files/1/0607/7104/1503/files/SC-jquery.min.js"></script>
    <script src="https://cdn.shopify.com/s/files/1/0607/7104/1503/files/SC-popper.min.js"></script>
    <script src="https://cdn.shopify.com/s/files/1/0607/7104/1503/files/SC-bootstrap.min.js"></script>
    <script src="https://cdn.shopify.com/s/files/1/0607/7104/1503/files/SC-jquery.validate.min.js"></script>
    <script src="https://cdn.shopify.com/s/files/1/0607/7104/1503/files/SC-jquery.form.min.js"></script>
    <script src="https://cdn.shopify.com/s/files/1/0607/7104/1503/files/SC-jquery.countdown.min.js"></script>
    <script src="https://cdn.shopify.com/s/files/1/0607/7104/1503/files/SC-vegas.min.js"></script>
    <script src="https://cdn.shopify.com/s/files/1/0607/7104/1503/files/SC-granim.min.js"></script>
    <script src="https://cdn.shopify.com/s/files/1/0607/7104/1503/files/SC-jquery.mb.YTPlayer.min.js"></script>
    <script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=QPun8W"></script>

    <!-- Theme JS -->
    <script src="https://cdn.shopify.com/s/files/1/0607/7104/1503/files/SC-main.js"></script>

    <script>
    // Youtube Background
    if ($('.yt-bg-player').length > 0) {
      $('.yt-bg-player').YTPlayer();
    }
    </script>

  </body>
</html>
