<section class="ghost-cat-sadk text-center invst">
<h1 class="text-flicker-in-glow sadk" style="animation-duration: 3s">{{section.settings.main_title}}</h1>
</section>
{% schema %}
  {
    "name": "Top Section",
    "settings": [
	  {
        "id":"main_title",
        "type":"text",
        "label":"Main Page Title",
        "default":"Saskatchewan Retailers"
     }
	]
  }
{% endschema %}
