<section class="drops-sect">
	<div class="container-fluid">
		<h2>{{section.settings.heading}}</h2>
		<div class="row">
          {%- for block in section.blocks -%}
			<div class="col-md-4">
				<div class="para-text">
					<h5>{{block.settings.heading1}}</h5>
					<p>{{block.settings.content}}</p>
				</div>
			</div>
          {%endfor%}
			
			
		</div>
	</div>
</section>

{% schema %}
  {
    "name": "Drop walkthrough section",
    "settings": [
	    
        {
        "id":"heading",
        "type":"text",
        "label":"Heading",
        "default":"Drops walkthrough"
        }
	],
    "blocks": [
     {
         "type": "text",
         "name": "text",
         "limit": 12,
         "settings": [
            {
            "id":"heading1",
            "type":"textarea",
            "label":"Heading 1"
            },
            
            {
            "id":"content",
            "type":"textarea",
            "label":"Content"
            }

         ]
      }
    ],
    "presets": [{
      "name": "Drop walkthrough section",
      "category": "HOMEPAGE"
    }]
  }
{% endschema %}


