<section class="gd-map">
  <div class="container-fluid">
    <h2>Find The <img src="{{'gst-logo.svg' | asset_url }}"></h2>
  <div style="width: 100%"><iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=GHOST%20DROPS%20TORONTO%20%20%201184%20QUEEN%20STREET%20WEST%20%20%20%20TORONTO,%20ON,%20M6J%201J5,%20CANADA%20+(Ghost%20Drops)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.maps.ie/distance-area-calculator.html">measure acres/hectares on map</a></iframe></div> 
  </div>
</section>
{% schema %}
  {
    "name": "Map",
    "settings": [],
    "presets": [{
      "name": "Toronto Map",
      "category": "HOMEPAGE"
    }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}