<section class="you-might">
   <div class="container-fluid">
      <h2 class="big-two">You might also like</h2>
      <div class="row">
         <div class="col-md-6">
            <div class="all-box">
               <a href="">
                  <img src="{{'accessories.jpg' | file_url}}" alt="" class="img-box-one" />
                  <div class="overlay-blk"></div>
                  <div class="clothing-area">
                     <h3 class="heading-bx">
                        Accesories
                     </h3>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-6">
            <div class="all-box">
               <a href="">
                  <img src="{{'access-two.jpg' | file_url}}" alt="" class="img-box-one" />
                  <div class="overlay-blk"></div>
                  <div class="clothing-area">
                     <h3 class="heading-bx">
                        Glassware
                     </h3>
                  </div>
               </a>
            </div>
         </div>
      </div>
   </div>
</section>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
