.register-gallery-area {
    display: flex;
    justify-content: center;
    overflow: hidden;
    overflow-x: auto;
    flex-shrink: 1;
}
.gallery-scrollbar::-webkit-scrollbar {
    width: 20px;
    background: transparent;
}
.resgister-gallery-section {
    margin-top: 155px;
    margin-bottom: 22.5px;
    overflow: hidden;
}

/* responsive */
@media (min-width: 1000px) {
    .new_register_gallery .gallery-item {
        margin-left: -30px;
    }
    .new_register_gallery .gallery-item img {
        width: 150px;
        height: 100%;
        object-fit: cover;
    }

}
@media (min-width: 1300px) {
    .new_register_gallery .gallery-item {
        margin-left: -38px;
    }
    .new_register_gallery .gallery-item img {
        width: 186px;
        height: 100%;
        object-fit: cover;
    }

}

@media (max-width: 991px) {}

@media (max-width: 767px) {
    .resgister-gallery-section {
        display: none;
    }
}