.register-faq-section-heading {
    margin: 0;
}
.register-faq-section-subheading {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;    
    color: #FFFFFF;
    margin-bottom: 0 !important;
    margin-top: 20px;
}
.register-faq-heading {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 30px;
    line-height: 1.3;
    color: #FFFFFF;
    margin: 0;
    width: 95%;
}
.register-faq-content {
    padding-top: 15px;
    padding-left: 5px;
    max-width: 760px;
}
.register-faq-content p,
.register-faq-content * {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    color: #FFFFFF;
    margin: 0;
}
.register-faq-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.register-faq-card-header.collapsed .faq-minus,
.register-faq-card-header:not(.collapsed) .faq-plus {
    display: none;
}
.register-faq-card-header:not(.collapsed) .faq-minus,
.register-faq-card-header.collapsed .faq-plus {
    display: block;
}
.register-faq-card {
    padding-left: 20px;
    padding-right: 28px;
    padding-bottom: 24px;
}
.register-faq-card:not(:first-child) {
    border-top: 1px solid #555555;
    padding-top: 24px;
}
.register-faq-card:last-child {
    padding-bottom: 0;
}
.resgister-faq-section {
    margin-top: 134px;
    margin-bottom: 135px;
}
.resgister-faq-warpper {
    background: url('faq-bg-desktop.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 70px 45px;
}
.resgister-faq-area {
    margin-top: 40px;
}

/* responsive */
@media (max-width: 767px) {
    .register-faq-section-subheading {
        font-size: 18px;
    }
    .resgister-faq-section {
        margin-top: 85px;
        margin-bottom: 30px;
    }
    .register-faq-heading {
        font-size: 22px;
    }
    .register-faq-card {
        padding-left: 0;
        padding-right: 0;
    }
    .resgister-faq-warpper {
        /* padding: 50px 15px; */
        background: none;
        padding: 0;
    }
    .register-faq-content p, .register-faq-content * {
        font-size: 18px;
    }
    .register-faq-icon svg {
        width: 24px;
    }
}
