html{  scroll-behavior: smooth;}
body{padding:0px;margin:0px; font-size:16px;font-family: 'Montserrat', sans-serif;}
@font-face {
    font-family: 'Trade Gothic LT Std';
    src: url('TradeGothicLTStd-BdCn20.woff2') format('woff2'),
        url('TradeGothicLTStd-BdCn20.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
span.hideText:before {
    color: #fff;
    content: '';
    width: 102%;
    height: 18px;
background:#e72175;
    top: 2px;
    left:0px;
  
    display: inline-block;
    position: absolute;
    transform: rotate( 
-4deg);
}

span.hideText {
    position: relative;
    color: #fff;
    
}
/*====================
      Ghost Ghear Css
====================*/
section.ghost-cat h1 {
    color: #fff;
    font-family: 'Denton';
    font-weight: 800;
    text-align: center;
}
h2.heading-bx span {
    position: absolute;
    left: -20px;
    top: 42px;
    color: #EA1A77;
    font-family: 'guthen_bloots_personal_useRg';
}
.all-box h3{
	color: #fff;
    font-family: 'Denton';
    font-weight: 800;font-size:40px;
    text-align: center;
	
}
.all-box .clothing-area {
    position: absolute;
    bottom: 25px;
    left: 30px;
}
.all-box img{width:100%;}
.all-box {position:relative;overflow:hidden;margin-bottom:35px;}

.first-box img{width:100%; }
.first-box {position:relative;margin-bottom:35px;}
.clothing-area {
    position: absolute;
    bottom: 30px;
    left: 70px;
}
.overlay-blk {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 100%);
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
}
h2.heading-bx span {
    color: #EA1A77;	font-family: 'guthen_bloots_personal_useRg';
}
h2.heading-bx {
    font-size: 80px;color:#fff;
    max-width: 400px;
    font-family: 'Denton';
}
section.ghost-cat {
    background-image: url(ghost-bg.png);
    background-size:cover;
	    background-position: bottom;
    width: 100%;
    padding: 170px 0px 120px;
    margin-bottom: 100px;
    background-repeat: repeat;
}
/**ghost gear css end **************/
.slide-bottom {
	-webkit-animation: slide-bottom 2s infinite alternate ;
	        animation: slide-bottom 2s infinite alternate ;
}
		button.slick-prev.slick-arrow {
    display: none !important;
}
button.slick-next.slick-arrow {
    display: none !important;
}
.f-sub-child-two:before {
    position: absolute;
    content: "";
    width: 2px;
    height: 63px;
    background: #e31a77;
    bottom: -63px;
    left: 0px;
    right: -68px;
    margin: 0 auto;
}		ul.marg-manage.branch-two .second-sub-child-one:before{
			content: "";
    position: absolute;
    right: -33px;
    top: 50%;
    width: 32px;
    height: 2px;
    background: #e31a77;
			
		}
ul.marg-manage.branch-two {
    margin-left: -12px;    font-weight: 600;
}
ul.marg-manage.branch-two .second-sub-child-one {
    max-width: 70px;    font-weight: 600;
}
		.second-sub-child-two:before {
    content: "";
    position: absolute;
    left: -30px;
    top: 50%;
    width: 30px;
    height: 2px;
    background: #e31a77;
}
ul.branch-one {
    max-width: 265px;
    margin: 42px auto 15px;}
ul.branch-two li:nth-child(1) {
    width: 70%;
    padding-right: 24px;
}
.second-sub-child-one {
    padding: 10px 0px 9px;
    text-align: center;    font-weight: 600;
    border: 2px solid #e31a77;
    color: #fff;
    font-size: 12px;    max-width: 100px;
    margin: 0 auto;
    position: relative;
}
.second-sub-child-two {
    padding: 10px 0px 9px;
    text-align: center;
    border: 2px solid #e31a77;    font-weight: 600;
    color: #fff;
    font-size: 12px;    max-width: 70px;
    margin: 0 auto;
    position: relative;
}
ul.branch-two li:nth-child(2) {
    width: 30%;
    padding-left: 0px;
	}
.f-child:after {
    position: absolute;
    content: "";
    width: 2px;
    height: 70px;
    background: #e31a77;
    bottom: -65px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
}
ul.branch-two {
    margin-top: 40px;
    width: 190px;
    margin-left: -52px;
}
.f-sub-child-one:before {
    position: absolute;
    content: "";
    width: 2px;
    height: 63px;
    background: #e31a77;
    bottom: -64px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
}
		ul.branch-one li {
    float: left;
    width: 50%;
}
		.f-sub-child-one {
		    padding: 10px 0px;
    text-align: center;
    border: 2px solid #e31a77;    font-weight: 600;
    color: #fff;    font-size: 12px;font-weight:bold;
    max-width: 70px;
    margin: 0 auto;
	position:relative;
}
ul.marg-manage.branch-two li:nth-child(1) {
    padding-right: 15px;
}
.f-sub-child-one:after {
    content: "";
    position: absolute;
    right: -33px;
    top: 50%;
    width: 32px;
    height: 2px;
    background: #e31a77;
}
		.f-sub-child-two {
		    padding: 10px 0px;
    text-align: center;    font-size: 12px;
    border: 2px solid #e31a77;
    color: #fff;font-weight:bold;
max-width: 84px;
    margin: 0 auto;	position:relative;
}
.f-sub-child-two:after {
    content: "";
    position: absolute;
    left: -32px;
    top: 50%;
   width: 32px;
    height: 2px;
    background: #e31a77;
}
		.f-child {
    background: #e31a77;
	position: relative;
    margin: 0 auto;    font-size: 12px;
    max-width: 170px;
    text-align: center;
    padding: 10px 0px;
    color: #fff;
    font-weight: 600;
}
hr.mob-bd {
    background: #575757;
    height: 1px;
    margin: 40px 0px;
}
		ul.funk-list li h5 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 15px;
}
ul.funk-list li {
    float: left;color:#fff;text-align:center;
    width: 33%;
}
.stick-img{
    position:-webkit-sticky;
	position:sticky;
    top:100px;
}
@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}
/*Product Page-individual*/
.slick-slide {
    margin: 0 10px;
  }
body.black-bg {
    background: #000000;
}
.prod-detail b.pink {
    color: #EA1A77;
}
.prod-detail p {
    color: #fff;
    margin-bottom: 50px;
}
ul.data-ratio li:last-child {
    width: 100%;
}
ul.data-ratio li {
    float: left;
    width: 50%;
    margin-bottom: 40px;
}
ul.data-ratio li h4 {
    font-family: 'Denton';
    color: #fff;
    font-size: 45px;
    margin: 8px 0px;
}
ul.data-ratio li span {
    color: #EA1A77;
    font-weight: 600;
    font-size: 18px;
}
.prod-detail h2 {
    font-family: Denton;
    font-style: normal;margin-bottom: 50px;
    font-weight: 900;
    font-size: 60px;
    color: #D0DC00;
}
section.product-detail {
    background-image: url(footer-bg.png);
    background-size: auto;
    width: 100%;
    padding: 152px 0px 90px;
    margin-bottom: 100px;
    background-repeat: repeat;
}
/**/
/*Product Page*/
.input-space.select-arrow {
    position: relative;
}
.input-space textarea {
    padding-left:0px;
    width: 100%;
    background: transparent;
    box-shadow: none;
    font-weight: 600;
    font-size: 16px;
    outline: none;
    opacity: 1;
    border: 1px solid #fff;
    border-width: 0px 0px 1px 0px;
    height: 50px;
    color: #fff;
}
.input-space.select-arrow i {
    color: #fff;
    position: absolute;
    top: 16px;
    right: 3px;
    font-size: 18px;
}
.input-space textarea::-webkit-input-placeholder {
color: #FFFFFF;
text-transform:capitalize;border:none;
opacity: 0.6;
}

.input-space textarea:-moz-placeholder { /* Firefox 18- */
color: #FFFFFF;
text-transform:Capitalize;
opacity: 0.6;
}

.input-space textarea::-moz-placeholder {  /* Firefox 19+ */
color: #FFFFFF;
text-transform:Capitalize;
opacity: 0.6;
}

.input-space textarea:-ms-input-placeholder {
color: #fff;  }

a.primary-btn.mob-view.ex-marg {
    display: none;
}
.mob-view{display:none;}
.dsk-view{display:block;}
h4.color {
    color: #fff;
}
h4.color span {
    color: #39B5E6;
}
.star-box-new.pl-l {
    padding-left: 60px;
}
.star-box-new b {

    color: #fff;
}
.container-fluid.mt-ex {
    margin-top: 0px;
    margin-bottom: 90px;
}
.star-box-new h4 {
    color: #39B5E6;
    font-size: 60px;
    line-height: 60px;
    margin-top: 80px;
    margin-bottom: 20px;
    font-weight: 600;
    font-family: 'Denton';
}
.pt-img img {
    width: 100%;
}
.star-box-new p {
    color: #fff;
    max-width: 400px;
}
.star-box-new h4 {
    color: #39B5E6;
    font-size: 60px;
    font-weight: 600;
    font-family: 'Denton';
}
section.form-area.mt-min {
    margin-top: -370px;
    padding-top: 300px;
}
.star-box{
	    font-weight: 900;
    font-family: 'Denton';
    color: #000;
    font-size: 60px;
    line-height: 65px;
	
}
section.featured-categories {
    background-image: url(cate-bg.png);
    background-size: cover;
    width: 100%;
    position: relative;
    padding: 270px 0px 310px;
    margin-top: -90px;
    background-position: bottom;
}
img.img-group {
    position: absolute;
    top: 5%;
    right: 0px;
    width: 100%;
max-width: 740px;
}
.caption-two {
    padding: 12% 0px 0px;
}
.caption-two h1 {
    font-size: 90px; 
    font-family: 'Denton';
    position: relative;
    max-width: 400px;
    color: #fff;
    line-height: 100px;
}
p.lrg {
color: #EAEAEA;
    font-size: 20px;
    margin: 20px 0px 130px;
}
ul.content-stack-two li h4 {
    color: #D0DC00;
    font-weight: 600;
    max-width: 400px;
    margin-top: 41px;
}
a.bk-url {
        padding: 0px !important;
    background: none !important;
}
a.see-more {
    color: #EA1A77;
    font-weight: bold;
    font-family: 'Montserrat';
    font-size: 17px;
    background: #fff;
    display: inline-block;
    padding: 17px 40px;
}

ul.content-stack-two p {
    color: #EAEAEA;
    max-width: 370px;
}
.cat-bx-two h3 {
    font-family: Denton;
    font-style: normal;
    font-weight: 900;
    color: #fff;
    font-size: 52px;
    margin-top: 50px;
}
.cat-bx-one h3 {
    font-family: Denton;
    font-style: normal;
    font-weight: 900;
    color: #fff;
    font-size: 52px;
    margin-top: 50px;
}
.cat-bx-one img {
    width: 80%;
    display: block;
    margin: 0 auto;
}
.cat-bx-two img {
    width: 80%;
    display: block;
    margin: 0 auto;
}
.cat-bx-one {
    background: url(pbg-one.jpg);width: 100%; background-position:center;
    background-size: cover; padding:30px;text-align:center;
}
.cat-bx-two {
    background: url(pbg-two.jpg);padding:30px;text-align:center;width: 100%;
    background-size: cover;
}
.caption-two span {
    font-family: 'guthen_bloots_personal_useRg';
    position: absolute;
    font-size: 80px;
    right: -30px;
    bottom: -34px;
    color: #d0dc00;
}

.caption-two b {
    display: inline;
}
.good-sht {

    width: 100%;
    background-size: cover;
    z-index: 2;
    position: relative;    margin-top: 0px;
}

.good-sht .container {
    position: absolute;
    top: 6%;
    z-index: 2;
    margin: 0 auto;
    max-width: 1300px;
    left: 0px;
    right: 0px;
}
/* desktop view produt pages css end*/
.newClass ul.navbar-nav.ml-auto.mr-auto li a:hover {
    color: #ea1a77;
}
a.nav-link.active:before {
     background: url(border-link.svg);
     background-repeat: no-repeat;
     content: "";
     position: absolute;
     width: 100%;
     height: 13px;
     bottom: -10px ;
     left: 0px ;
     right: 0px ;
     margin: 0 auto;
}

.max-cont {
    max-width: 1265px;
    position: absolute;
    bottom: 90px;
    left: 0px;
    right: 0px;
    margin: 0 auto; z-index:2;
}
a.primary-btn:hover {
    background: #39b5e6;	transition:ease-in-out 0.5s;
}
ul.navbar-nav.ml-auto.mr-auto li a:hover {
    color: #ea1a77;
}
a.primary-btn.mt-spc {
    display: none;
}
.min-wd {
    width: 90px;
    position: absolute;
    right: 0px;
    z-index: 2;
}
.carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {
    background: #fff;
    color: #ea1a77;
}
a.carousel-control-prev, a.carousel-control-next {
    width: 40px;
    line-height: 40px;
    height: 40px;
    color: #ea1a77;
    background: transparent;
    transition: ease-in-out 0.5s;
    text-shadow: none;
    opacity: 1 !important;
    border: 2px solid #fff;
    coursor: pointer!important;
    margin: auto;
    font-size: 25px;
    font-weight: 700;
}
nav#dynamic:before {
/*     background: url(header-bottom.png); */
    position: absolute;
    bottom: -45px;
    z-index:-1;
    left: 0;
    right: 0;
    content: "";
    background-size: cover;
    width: 100%;
    height: 90px;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('BrandonGrotesque-Bold.woff2') format('woff2'),
        url('BrandonGrotesque-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Denton';
    src: url('Denton-Black.woff2') format('woff2'),
        url('Denton-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Trade Gothic LT Std';
    src: url('TradeGothicLTStd-Cn18.woff2') format('woff2'),
        url('TradeGothicLTStd-Cn18.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Guthen Bloots Slant';
    src: url('GuthenBlootsSlant.woff2') format('woff2'),
        url('GuthenBlootsSlant.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
	font-family: 'guthen_bloots_personal_useRg';
	src: url('Azetype - Guthen Bloots Slant.eot');
	src:url('Azetype - Guthen Bloots Slant.woff') format('woff'), url('Azetype - Guthen Bloots Slant.ttf') format('truetype'), url('Azetype - Guthen Bloots Slant.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'guthen_bloots_personal_useRg';
    src: url('guthen_bloots_personal_use-webfont.woff2') format('woff2'),
         url('guthen_bloots_personal_use-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

p:last-child {
margin-bottom:0px;
}
h1 {
font-size:64px;
}
h2 {
font-size: 40px;
}
h3 {
font-size: 24px;
}
h4 {
font-size: 22px;
}
h5 {
font-size: 18px;
}
h6 {
font-size: 16px;
}

ul{list-style:none; padding:0px;}
	a{text-decoration:none !important; }

:before, :after {
font-family:FontAwesome;
}
.lrg-logo {
  max-width: 129px;

}
ul.icons-bar.mob-icons {
    display: none;
}
.newClass ul.navbar-nav.ml-auto.mr-auto li a {
    color: #fff;
}
.newClass {
    transition: ease-in-out 0.5s;
    background: #fff !important;
    box-shadow: 0px 0px 20px #00000030;
}
a.navbar-brand.sml-logo .lrg {
    display: none;
}
a.navbar-brand.lrg-logo img.logo-wd.smll {
    display: none;
}
a.navbar-brand.small-logo img.logo-wd.smll {
    display: block;
}
.sml-logo {
    max-width: 129px;
}
ul.icons-bar li img {
    width: 27px;
}
img.logo-wd {
    
    max-width: 119px;
    position:relative;
}
ul.icons-bar li {
    float: left;
    margin-left: 15px;
}
nav#dynamic {
    
    background: #000!important;
    transition: ease-in-out .5s;
}
.container-fluid{max-width:1300px;}
.carousel-inner .container {
    position: absolute;
    top: 6%;
    z-index: 2;
    margin: 0 auto;   
    max-width: 1300px;
    left: 0px;
    right: 0px;
}

.caption {
    margin-top: 17%;
}
img.img-fluid.product {
    margin-top: 13%;
}
a.navbar-brand {
    width: 150px;
}
ul.content-stack li {
    font-size: 16px;
    color: #fff;
    max-width: 81%;
    float: left;
  
}
.ml-auto, .mx-auto{
margin-top:3px;
}
ul.icons-bar {
    margin-top: 18px;
}
.caption {
    position: relative;
}
.caption h1 {
    font-size: 90px;
    font-family: 'Denton';
    color: #fff;
    line-height: 100px;
}
ul.img-list.clearfix {
    margin: 80px -15px 0px;
}
.caption span {
    font-family: 'guthen_bloots_personal_useRg';
    position: absolute;
    font-size: 80px;
    left: -20px;
    top: 59px;
    color: #ea1a77;
}
ul.img-list li img{width:100%;}
ul.img-list li:nth-child(2) img{width:100%; margin-top:50px}
ul.img-list li:nth-child(3) img{width:100%; margin-top:-20px}
ul.img-list li:nth-child(4) img{width:100%; margin-top:20px}
ul.img-list li:nth-child(5) img{width:100%; margin-top:40px}
ul.img-list li:nth-child(6) img{width:100%; margin-top:-20px}
ul.img-list li {
    float: left;
    padding: 0px 15px;
    width: 16.5%;
}
.top-spc p {
    color: #575757;
    font-size: 17px;
}
.born-content {
    margin-top: 50px;
}
section.born-in-dark {
    padding: 100px 0px;
}

section.cann {
    background-image: url(union-one.png);
    padding: 200px 0px 300px;
    background-size: cover;
    margin-bottom: -200px;
    z-index: 111;
    position: relative;
    background-position: bottom;
}

p.max-sz {
    max-width: 320px;
}
.h-outer h2 {
    font-weight: 900;
    font-family: 'Denton'; color:#000;
    font-size: 60px;line-height: 65px;
}
.born-content p {
    color: #575757;
    max-width: 450px;
    font-size: 18px;
}
.h-outer span {
    display: block;
    color: #39b5e6;
}
.max-img img {
    max-width: 540px;
}
ul.navbar-nav.ml-auto.mr-auto li {
    padding: 0px 20px;
}
ul.navbar-nav.ml-auto.mr-auto li a {
    color: #fff;
    padding: 0px;
    font-weight: 600;
}
a.nav-link.active {
    letter-spacing:0.03em;
    font-family: 'guthen_bloots_personal_useRg';
    font-size: 28px; 
    font-weight: 400 !important;
    color: #ea1a77 !important;
    text-transform:lowercase;
    margin-top:-13px;
    position:relative;
    
}
.max-img img {
    max-width: 540px;
}
ul.content-stack li:nth-child(2) {
    padding-left: 20px;
}
ul.content-stack h4 {
    max-width:301px;
    color: #EA1A77;
    line-height: 29px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
}
a.primary-btn {
    background: #ea1a77;
    color: #fff;	transition:ease-in-out 0.5s;
    padding: 14px 20px;
    display: inline-block;
    margin-top: 15px;
    font-weight: 600;
}
.max-img.mt-two {
    margin-top: 60px;
}
.feature-content {
    margin-top: 75px;
}
.feature-content span {
    display: block;
}
.feature-content h3 {
    font-size: 60px;
    font-family: 'Denton';
    color: #d0dc00;
}
.feature-content p {
    color: #EAEAEA;
    max-width: 400px;
}
  a.primary-btn.mob-view.ex-marg {
    display: none;
}
section.featured-strain {
    background-image: url(union-blk.png);
    background-size: cover;
    width: 100%;
	    position: relative;
    padding: 190px 0px 350px;
    background-position: bottom;
}
.featured-strain img {
    margin-top: 80px;
}
.featured-h{position:relative;}
.featured-h h2 {
    font-weight: 900;
    font-family: 'Denton';
    color: #fff;
    font-size: 60px;
    line-height: 65px;
}
.others {
    color:black
}
.featured-h span {
    font-family: 'guthen_bloots_personal_useRg';
    color: #ea1a77;
    font-weight: 300;
    position: absolute;
    left: 30px;
    top: 40px;
}
.input-space select {
    width: 100%;
    height: 50px;
    padding-left: 0px;
    border: 1px solid;
	outline:none;
    background: transparent;
    color: #fff;
    border-width: 0px 0px 1px 0px;
    font-weight: 600;
    font-size: 16px;
}
section.form-area {
    background: #ea1a77;
    padding: 190px 0px 100px;
    margin-top: -280px;
}
.form-sec h2 {
    letter-spacing:0px;
    text-transform:normal;
    color: #fff;
    font-family: 'Denton';
    font-size: 58px;
}
.input-space input[type=text], .input-space input[type=email] {
    padding-left:0px;
    width: 100%;
    background: transparent;
    box-shadow: none;
	    font-weight: 600;
    font-size: 16px;
    outline: none;opacity:1;

    border: 1px solid #fff;
    border-width: 0px 0px 1px 0px;
    height: 50px;
    color: #fff;
}
.input-space{margin-bottom:20px;}
.input-space input::-webkit-input-placeholder { /* Edge */
  color: #fff; opacity:0.6;
}
a.white-btn {
    background: #fff;
    display: inline-block;
    padding: 15px 31px;
    color: #ea1a77;
    font-weight: 800;
}
.right-spc {
    padding-left: 80px;
}
.input-space input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff; opacity:0.6;
}
section.form-area span {
    display: block;
}
.input-space input::placeholder {
 color: #fff; opacity:0.6;
}
a.white-btn {
    background: #fff;
    display: inline-block;	transition:ease-in-out 0.5s;
    padding: 15px 31px;
    color: #ea1a77;    border: 2px solid #fff;
    font-weight: 800;
}
a.white-btn:hover {
    background: transparent;
    color: #fff;
	transition:ease-in-out 0.5s;
    border: 2px solid #fff;
}
section.form-area h5 {
    font-size: 23px;
    color: #fff;
    margin-top: 120px;
    margin-bottom: 177px;
    font-weight: 600;
    text-transform: uppercase;
}
footer {
    background-image: url(footer-bg.png);
    background-size: cover;
    width: 100%;
    padding: 100px 0px;
}

ul.footer-list.clearfix h5 {
    color: #39B5E6;
    font-weight: 700;      
    margin-bottom: 32px;

}

ul.list-a li {
    float: none !important;
    width: 100% !important;
    margin-bottom: 5px;
}
ul.footer-list.clearfix li {
    float: left;
    width: 16.5%;
    text-align: left;
}
img.footer-logo {
    width: 123px;
}
ul.footer-list.clearfix li:nth-child(3) {
    width: 14%;
}
ul.footer-list.clearfix li:nth-child(1) {
    width: 19%;
}
ul.footer-list.clearfix li:nth-child(4) {
    width: 14%;
}
l.footer-list.clearfix li:nth-child(4) {
    width: 14%;
}
ul.list-a li {    margin-bottom: 12px;
}
ul.list-a li a {
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 600;
}
ul.footer-list.clearfix li {
    float: left;
    width: 16.5%;
    text-align: left;
    margin-bottom:15px;
}
ul.footer-list.clearfix li:nth-child(6) {
    width: 20%;
    padding-left: 50px;
}
ul.social-bar li {
    margin-right: 10px !important;
    width: 21% !important;
}
ul.social-bar li a {
    width: 40px;
    background: #ea1a77;
    color: #000;
    height: 40px;
    padding: 5px 0px;
    border-radius: 30px;
    display: inline-block;
    text-align: center;
    font-size: 22px;
}
ul.bottom-links {
    margin-left: 242px;
    margin-top: 40px;
    margin-bottom: 0px;
}
ul.bottom-links li {
    color: #575757;
    display: inline-block;
    margin-right: 25px;
    font-size: 16px;
    font-weight: 600;
}
ul.bottom-links li a {
    color: #575757;
    font-size: 16px;
    display: inline-block;
    font-weight: 600;
}
img.d-block.w-100.mob-view {
    display: none !important;
}
.toggle-button {
    display: none;
}
	img.black-logo {display:none;}
	li.vis-mob {
    display: none;
}
/*=============================
         Media Queries
===============================*/


@media (min-width: 1400px) and (max-width: 100000000px) {
	section.featured-strain {
    background-image: url(union-blk.png);
    background-size: cover;
    width: 100%;
    position: relative;
    padding: 260px 0px 350px;
    background-position: bottom;
}
	section.form-area {
    background: #ea1a77;
    padding: 260px 0px 100px;
    margin-top: -400px;
}
	
	section.cann {
    background-image: url(union-one.png);
    padding: 200px 0px 300px;
    background-size: cover;
    margin-bottom: -290px;
    z-index: 111;
    position: relative;
    background-position: bottom;
}
  nav#dynamic:before {
/*     background: url(header-bottom.png); */
    position: absolute;
    bottom: -60px;
    z-index: -1;
    left: 0;
    right: 0;
    content: "";
    background-size: cover;
    width: 100%;
    height: 100px;
}
	
}
@media (min-width: 992px) and (max-width: 1199px) {
  /*Product Page-individual*/
   .right-spc.desk h5 {
    margin-bottom: 174px;
}
	ul.content-stack-two {
    display: none;
}
	/**/
	/*Product-page*/
	a.primary-btn.mob-view.ex-marg {
    display: none;
}
	.star-box-new h4{    margin-top: 30px;}
	section.featured-categories { 
    padding: 240px 0px 310px;
    margin-top: -90px;
}
	.caption-two {
    padding: 9% 0px 0px;
}
	.good-sht {
    position: relative;
    margin-top: 0px;
}
	img.img-group {
    position: absolute;
    top: 4%;
    right: 0px;
    width: 100%;
    max-width:459px;
}
	/*product css end*/
  /********Ipad Pro **************/
.caption{
  margin-top:38%;
  }
ul.content-stack {
    display: none;
}
.caption h1 {
    font-size: 55px;
    font-family: Denton;
    color: #fff;
    line-height: 80px;
    max-width: 280px;
}
  ul.content-stack li {
    font-size: 16px;
    color: #fff;
    max-width: 100%;
    float: left;
}
nav#dynamic:before {
/*     background: url(header-bottom.png); */
    position: absolute;
    bottom: -35px;
    z-index: -1;
    left: 0;
    right: 0;
    content: "";
    background-size: cover;
    width: 100%;
    height: 70px;
}
 .feature-content {
    margin-top: 15px;
}
ul.bottom-links {
    margin-left: 192px;
    margin-top: 40px;
}
.caption span {
    font-family: guthen_bloots_personal_useRg;
    position: absolute;
    font-size: 60px;
    left: 10px;
    top: 41px;
    color: #ea1a77;
}

.max-img img {
    max-width: 460px;
    margin-top: 40px;
}
.max-img.mt-two {
    margin-top: 40px;
}
.min-wd {
    width: 90px;
    position: absolute;
    right: 30px;
    z-index: 2;
}
section.form-area h5 {
    font-size: 23px;
    color: #fff;
    margin-top: 163px;
    margin-bottom: 200px;
    font-weight: 600;
    text-transform: uppercase;
}
}
@media (min-width: 768px) and (max-width: 991px) {
  /*Ghost-Gear css*/
	.all-box h3 {
    
    font-size: 25px;
 
}
	/*End*/
  .input-space textarea{
  height:70px;
  }
  /*Product Page-individual*/
	ul.data-ratio li h4 {
    font-family: 'Denton';
    color: #fff;
    font-size: 31px;
    margin: 8px 0px;
}
	.prod-detail h2 {font-size: 40px;}
	/**/
	/*Product page*/
	a.primary-btn.mob-view.ex-marg {
    display: none;
}
	section.form-area h5 {
    font-size: 14px !important;
    color: #fff;
    margin-top: 120px;
    margin-bottom: 179px;
}
	.container-fluid.mt-ex {
    margin-top: 30px;
    margin-bottom: 70px;
}
section.form-area.mt-min {
    margin-top: -490px;
    padding-top: 300px;
}
	.caption-two span {
    font-family: 'guthen_bloots_personal_useRg';
    position: absolute;
    font-size: 80px;
    right: 48px;
    bottom: -16px;
    color: #d0dc00;
}
	.caption-two h1 {
    font-size: 70px;
    font-family: 'Denton';
    position: relative;
    max-width: 400px;
    color: #fff;
    line-height: 70px;
}
	.good-sht{margin-top:0px;}
	ul.content-stack-two {
    display: none;
}
img.img-group {
    position: absolute;
    top: 4%;
    right: 0;
    width: 100%;
    max-width: 342px;
}
section.featured-categories {
    padding: 210px 0px 310px;
    margin-top: -90px;
   
}
.star-box-new h4 {
    margin-top: 0px;
    font-size: 40px;
    line-height: 40px;
}
p.lrg {
    margin-bottom: 50px;
}
	/*product page css end*/
  .caption{
  margin-top:34%;
  }
ul.content-stack {
    display: none;
}

  nav#dynamic:before {
/*     background: url(header-bottom.png); */
    position: absolute;
    bottom: -36px;
    left: 0;
    right: 0;
    content: "";
    background-size: cover;
    width: 100%;
    height: 48px;
}
  nav#dynamic {
    height: 79px;
}
	
	.toggle-button {
    display: block;
}
	img.white-overlay {
    width: 85px;
    top: 24px;
    position: absolute;
    left: 16px;
}
	img.black-logo {display:block;
    position: absolute;
    top: 10px;
}
	img.logo-wd.lrg {
    display: none;
}
	img.logo-wd.smll.d-non {
    display: none;
}
	img.black-logo {
    width: 111px;
}
nav#dynamic {
    
    background: #000 !important;
    height: 79px;
}

.gap-area {
    position: relative;
    top: 27%;
}
	.gap-area b {
    text-align: center;
    display: block;
    color: #03a9f4;
    margin-bottom: 13px;
    margin-top: 100px;
}
	ul.social-bar.top-men {
    text-align: center;
}
	ul.social-bar.top-men li {
    text-align: center;
    display: inline-block;
    width: 40px !important;
}

ul.icons-bar.mob-icons {
    display: block;
    position: absolute;
    right: 15px;
    top: 10px;
}
ul.icons-bar {
    margin-top: 15px;
margin-right: 50px;
}

	ul.content-stack h4 {
    color: #EA1A77;
    line-height: 23px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 900;
}
.caption h1 {
    font-size: 50px;
    font-family: 'Denton';
    color: #fff;
    line-height: 70px;
}
	.caption {
    margin-top: 25%;
}
img.img-fluid.product {
    margin-top: 25%;
    width:90%;
}
ul.content-stack {
    display: none;
}
	.caption h1 {
    font-size: 70px;
    font-family: 'Denton';
    color: #fff;
    line-height: 100px;
}
	.caption span {
    font-family: 'guthen_bloots_personal_useRg';
    position: absolute;
    font-size: 70px;
    left: 0px;
    top: 59px;
    color: #ea1a77;
}
	img.footer-logo {
    width: 93px;
}
	ul.bottom-links {
    margin-left: 140px;
    margin-top: 40px;
}
	ul.bottom-links li {
    color: #575757;
    display: inline-block;
    margin-right: 25px;
    font-size: 12px;
    font-weight: 600;
}
ul.bottom-links li a {

    font-size: 12px;
  
}
	ul.social-bar li a {
    width: 25px;
    background: #ea1a77;
    color: #000;
    height: 25px;
    padding: 3px 0px;
    border-radius: 30px;
    display: inline-block;
    text-align: center;
    font-size: 15px;
}
	ul.list-a li a {
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
}
	ul.footer-list.clearfix h5 {
    color: #39B5E6;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 25px;
}

	.born-content p {
    color: #575757;
    max-width: 100%;
    font-size: 18px;
}
	.h-outer h2 {
    font-weight: 900;
    font-family: 'Denton';
    color: #000;
    font-size: 40px;
    line-height: 42px;
}
.max-img img {
    max-width: 100%;
    width: 100%;
}
.form-sec h2 {
    color: #fff;
    font-family: 'Denton';
    font-size: 40px;
}
section.form-area h5 {
    font-size: 23px;
    color: #fff;
    margin-top: 120px;
margin-bottom: 200px;}
section.featured-strain {
    background-image: url(union-blk.png);
    background-size: cover;
    width: 100%;
    position: relative;
    padding: 190px 0px 450px;
    background-position: bottom;
}
section.form-area {
    background: #ea1a77;
    padding: 190px 0px 100px;
    margin-top: -460px;
}
.min-wd {
    width: 90px;
    position: absolute;
    right: 20px;
    z-index: 2;
}
}
@media (min-width: 320px) and (max-width: 767px) {
 p.lrg {
   font-size: 21px;
}
  span.hideText:before {
    top: 1px;
    left:0px;
    
}
span.hideText {
    position: relative;
    color: #fff;
}
  /*Ghost-Gear css*/

	section.ghost-cat h1 b {
    display: block;
}
	section.ghost-cat {
    background-image: url(ghost-gear-mob.png);padding: 140px 0px 80px;}
	.all-box .clothing-area {
    position: absolute;
    bottom: 15px;
    left: 25px;
	}
	.all-box h3{font-size:28px;}
	.clothing-area {
    position: absolute;
    bottom: 15px;
    left: 20px;
}
h2.heading-bx span {
    position: static;
    color: #fff;
    font-family: 'Denton';
    left: -10px;
    top: 25px;
}
	h2.heading-bx {
    font-size: 40px;}
	/*End css*/
  section.product-detail {
      padding: 80px 0 90px;   
  }
  /*Product Page-individual*/
		section.product-detail{margin-bottom:40px;}
		.input-space textarea{height:auto;}
    
     button.slick-prev.slick-arrow {
    display: none !important;
}
button.slick-next.slick-arrow {
    display: none !important;
}
.f-sub-child-two:before {
    position: absolute;
    content: "";
    width: 2px;
    height: 63px;
    background: #e31a77;
    bottom: -63px;
    left: 0px;
    right: -68px;
    margin: 0 auto;
}		
  ul.marg-manage.branch-two .second-sub-child-one:before{
    content: "";
    position: absolute;
    right: -33px;
    top: 50%;
    width: 32px;
    height: 2px;
    background: #e31a77;
			
		}
ul.marg-manage.branch-two {
    margin-left: -12px;    font-weight: 600;
}
ul.marg-manage.branch-two .second-sub-child-one {
    max-width: 70px;    font-weight: 600;
}
		.second-sub-child-two:before {
    content: "";
    position: absolute;
    left: -30px;
    top: 50%;
    width: 30px;
    height: 2px;
    background: #e31a77;
}
ul.branch-one {
    max-width: 265px;
    margin: 42px auto 15px;}
ul.branch-two li:nth-child(1) {
    width: 70%;
    padding-right: 24px;
}
.second-sub-child-one {
    padding: 10px 0px 9px;
    text-align: center;    font-weight: 600;
    border: 2px solid #e31a77;
    color: #fff;
    font-size: 12px;    max-width: 100px;
    margin: 0 auto;
    position: relative;
}
.second-sub-child-two {
    padding: 10px 0px 9px;
    text-align: center;
    border: 2px solid #e31a77;    font-weight: 600;
    color: #fff;
    font-size: 12px;    max-width: 70px;
    margin: 0 auto;
    position: relative;
}
ul.branch-two li:nth-child(2) {
    width: 30%;
    padding-left: 0px;
	}
.f-child:after {
    position: absolute;
    content: "";
    width: 2px;
    height: 70px;
    background: #e31a77;
    bottom: -65px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
}
ul.branch-two {
    margin-top: 40px;
    width: 190px;
    margin-left: -52px;
}
.f-sub-child-one:before {
    position: absolute;
    content: "";
    width: 2px;
    height: 63px;
    background: #e31a77;
    bottom: -64px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
}
		ul.branch-one li {
    float: left;
    width: 50%;
}
		.f-sub-child-one {
		    padding: 10px 0px;
    text-align: center;
    border: 2px solid #e31a77;    font-weight: 600;
    color: #fff;    font-size: 12px;font-weight:bold;
    max-width: 70px;
    margin: 0 auto;
	position:relative;
}
ul.marg-manage.branch-two li:nth-child(1) {
    padding-right: 15px;
}
.f-sub-child-one:after {
    content: "";
    position: absolute;
    right: -33px;
    top: 50%;
    width: 32px;
    height: 2px;
    background: #e31a77;
}
		.f-sub-child-two {
		    padding: 10px 0px;
    text-align: center;    font-size: 12px;
    border: 2px solid #e31a77;
    color: #fff;font-weight:bold;
max-width: 84px;
    margin: 0 auto;	position:relative;
}
.f-sub-child-two:after {
    content: "";
    position: absolute;
    left: -32px;
    top: 50%;
   width: 32px;
    height: 2px;
    background: #e31a77;
}
		.f-child {
    background: #e31a77;
	position: relative;
    margin: 0 auto;    font-size: 12px;
    max-width: 170px;
    text-align: center;
    padding: 10px 0px;
    color: #fff;
    font-weight: 600;
}
		hr.mob-bd {
    background: #575757;
    height: 1px;
    margin: 40px 0px;
}
		ul.funk-list li h5 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 15px;
}
		ul.funk-list li {
    float: left;color:#fff;text-align:center;
    width: 33%;
}
		.prod-detail p {
    color: #fff;
    margin-bottom: 30px;
}
		ul.data-ratio li:last-child {
    width: 100%;
    padding-bottom: 35px;
    border-bottom: 2px solid #575757;
}
		ul.data-ratio li h4 {
    font-family: 'Denton';
    color: #fff;
    font-size: 32px;
    margin: 8px 0px;
}
	.prod-detail h2{font-size:40px;}
	/**/
	/*Product page css*/
	
	ul.bottom-links li:nth-child(3) span {
    display: inline-block !important;
}
	section.form-area.mt-min {
    margin-top: -660px;
    padding-top: 300px;
}

	section.featured-categories {
    background-image: url(cate-bg.png);
    background-size: cover;
    width: 100%;
    position: relative;
    padding: 350px 0px 660px;
    background-position: 0px 0px;
}
	.star-box-new.pl-l h4 {
    margin-top: 0px;
}
	.star-box-new.pl-l {
    padding-left: 0px;
}
	.pt-img {
    margin-top: 30px;}
	a.primary-btn.mob-view.ex-marg {
    margin-bottom: 40px;
}
	p.lrg {
    margin-bottom: 20px;
}
	.cat-bx-two h3{    margin-top: 0px;font-size: 40px;
    position: relative;}
	.cat-bx-one h3{    margin-top: 0px;font-size: 40px;
    position: relative;}
	 a.see-more {
    display: none;
}
    a.see-more
	{
    display: none;
}
.cat-bx-two img {
    width:100%;
    margin: -30px 0px -30px;}
	ul.content-stack-two p {
    color: #EAEAEA;
    max-width: 100%;
    font-size: 17px;
}
.cat-bx-one img {
    width:100%;
    margin: -100px 0px -30px;}
	ul.content-stack-two p {
    color: #EAEAEA;
    max-width: 100%;
    font-size: 17px;
}
	ul.content-stack-two li h4 {
    color: #D0DC00;
    line-height: 30px;
    max-width: 400px;
    font-weight: 700;
    margin-top: 41px;}

	ul.content-stack-two.mob-view {
    padding-left: 15px;
}
	section.featured-categories{    margin-top: -290px;}

	.caption-two span {
    bottom: -17px; 
    font-size: 45px;
    right: -32px;
}
	img.img-group {
    position: absolute;
    top: 34%;
    right: 0px;
    width: 100%;
    max-width: 100%;
}
.mob-view {
    display: block !important;
}
.dsk-view{display:none !important;}
	.good-sht {
    width: 100%;
    background-size: cover;
    z-index: 2;
    position: relative;
    margin-top: 0px;
}
	.caption-two {
    padding: 30% 0px 0px;
}
.caption-two span{bottom: -17px;}
	ul.content-stack-two {
    display: none;
}
	.caption-two h1 {
    font-size: 65px;
    font-family: 'Denton';
    position: relative;
    max-width: 271px;
    color: #fff;
    line-height: 50px;
}
	/*product pages css end*/
  
  ul.list-a li:nth-last-child(1) {
    margin-bottom: 32px;
}
  .gap-area ul li.active a:before {
    background: url(border-link.svg);
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    width: 100px;
    display: block;
    height: 13px;
    bottom: -10px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
}

  ul.icons-bar li {
    float: left;
    margin-left: 25px;
}
  .gap-area li.active a {
    position:relative;
    font-weight: 300;
}

  .max-img img {
    width: 100%;
    max-width:100%;
  }
  nav#dynamic:before {
/*     background: url(header-bottom.png); */
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
    content: "";
    background-size: cover;
    width: 100%;
    height: 40px;
}
  section.form-area {
    background: #ea1a77;
    padding: 190px 0 100px;
    margin-top: -468px
;
}
  .gap-area ul li.active a {
    font-size: 35px;
    font-family: 'guthen_bloots_personal_useRg';
    color: #ea1a77;
    text-transform: lowercase;
}
  
	.overlay ul li a {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}
	.caption b {
    display: block;
}

.min-wd {
    width: 90px;
    position: absolute;
    right: 0px;
    z-index: 2;
    left: 0px;
	bottom: 110px;
    margin: 0 auto;
}
	a.primary-btn.mt-spc {
    display: block;
    margin-top:50px;
}
	.caption {
    margin-top: 30%;
    margin-bottom: -30px;
}
	ul.list-a li:nth-child(1) {
    margin-bottom: 12px !important;
}
		.toggle-button {
    display: block;
}
 .born-content p {
    color: #575757;
    max-width: 100%;
    font-size: 18px;
}
li.vis-mob {
    display: inline-block;
}
	img.white-overlay {
    
    width: 85px;
    top: 24px;
    position: absolute;
    left: 16px;
}
	img.black-logo {
    display:block;
    position: absolute;
     top:6px;
}
  
	img.logo-wd.lrg {
    display: none;
}
	img.logo-wd.smll.d-non {
    display: none;
}

	img.black-logo {
    width: 85px;
    margin-top:14px;
}
	nav#dynamic {
    min-height:76px;
    background: #000 !important;
}

.gap-area {
    position: relative;
    top: 27%;
}
	.gap-area b {
    text-align: center;
    display: block;
    color: #03a9f4;
    margin-bottom: 13px;
    margin-top: 100px;
}
	ul.social-bar.top-men {
    text-align: center;
}
	ul.social-bar.top-men li {
    text-align: center;
    display: inline-block;
    width: 40px !important;
}
	.navbar-header {
    display:block;
}
	ul.icons-bar.mob-icons {
    display: block;
}
ul.icons-bar {
    margin-top: 20px;
    margin-right: 50px;
    position: absolute;
    right: 20px;
    
}
	img.d-block.w-100.mob-view {
    display: block !important;
}
section.cann {
/*     background-image: url(mob-union-one.png); */
    padding: 50px 0px 180px;
    background-size: cover;
    margin-bottom: -240px;
    z-index: 111;
    position: relative;
    background-position: bottom;
}

	ul.img-list.clearfix {
    display: none;
}
	.h-outer h2 {
    font-weight: 900;
    font-family: 'Denton';
    color: #000;
    line-height: 45px;
    font-size: 40px;
}
.feature-content h3 {
    font-size: 40px;
    font-family: 'Denton';
    color: #d0dc00;
    margin-bottom: 25px;
}
	.form-sec h2 {
    color: #fff;
    font-family: 'Denton';
    font-size: 40px;
}
	ul.bottom-links li:nth-child(3) span {
    display: block;
}
	ul.bottom-links li:nth-child(3) {
    margin-top: 20px;
}
	ul.bottom-links {
    margin-left: 0px;
    margin-top: 0px;
}
	ul.footer-list.clearfix li:nth-child(6) {
    width: 20%;
    padding-left: 0px;
}
	footer {
    background-image: url(footer-bg.png);
    background-size: cover;
    width: 100%;
    padding: 100px 5px 100px 15px;
}
	ul.footer-list.clearfix li:nth-child(1) img {
    margin: 0 auto;
    display: block;
}
.feature-content p {
    margin-bottom: 29px;
}
ul.footer-list.clearfix li:nth-child(4) {
    width: 50%;
}
ul.footer-list.clearfix li:nth-child(3) {
    width: 50%;
}

ul.footer-list.clearfix li:nth-child(5) {
    width: 50%;
}


ul.footer-list.clearfix li:nth-child(6) {
    width: 100%;
}


	ul.list-a li {
    text-align: left;
}
	ul.footer-list.clearfix li {
    float: left;
    width: 50%;
   
}
ul.footer-list.clearfix li:nth-child(1) {
    width: 100%;
    margin-bottom: 50px;
    padding-right: 30px;
}
	.caption span {
    font-family: 'guthen_bloots_personal_useRg';
    position: absolute;
    font-size: 50px;
    left: 0px;
    top: 29px;
    color: #ea1a77;
}
ul.social-bar li {
    padding-right: 0px !important;
    width: 50px !important;
}
.top-spc {
    margin-top: 0px;
}
section.born-in-dark {
    padding: 80px 0px;
}
section.cann.pt-0 p{  margin-bottom: 25px;}
section.cann.pt-0 h2 {
    margin-bottom: 25px;
}
.max-img.mt-two {
    margin-top: 0px;
}
	ul.content-stack {
    display: none;
}
	img.d-block.w-100.dskt-view {
    display: none !important;
}
	.caption h1 {
    font-size: 60px;
    font-family: 'Denton';
    color: #fff;
    line-height: 60px;
}
p.max-sz {
    max-width: 100%;
    margin-top: 15px; margin-bottom:30px;
}
	.max-img img {
    width: 100%;
}
	a.primary-btn {
    background: #ea1a77;
    color: #fff;
    padding: 14px 20px;
    display: block;
    text-align: center;
    margin-top: 15px;
    font-weight: 600;
}
.right-spc {
    padding-left: 0px;
}
a.white-btn {
    display: block;text-align:center;
    margin: 0px 0px;
}
section.form-area h5{display:none;}
	section.featured-strain {
/*     background-image: url(union-blk-mob.png); */
    background-size: cover;
    width: 100%;
    position: relative;
    padding: 240px 0px 445px;
    background-position: bottom;
}
}
@media (min-width: 320px) and (max-width: 576px) {
   .star-box-new h4 {
    color: #39B5E6;
    font-size: 40px;
    line-height: 45px;
    font-weight: 600;
    font-family: 'Denton';
}
  .star-box-new h4 {
    color: #39B5E6;
    font-size: 40px;
    line-height: 45px;
    font-weight: 600;
    font-family: 'Denton';
}
  /*Product css*/
		ul.bottom-links li:nth-child(3) span {
    display: block !important;
}
	section.form-area.mt-min {
    margin-top: -530px;
    padding-top: 300px;
}
	section.featured-categories {
   
    background-size: cover;
    width: 100%;
    position: relative;
    padding: 345px 0px 350px !important;
background-position: -90px 0px !important;
}
/****product css end ***********/
  img.img-fluid.product {
    margin-top: 34%;
}
  .max-cont {
    bottom: 60px
;}
  .featured-h h2{margin-top:80px;}
  section.featured-strain {
	background-size: cover;
    width: 100%;
    position: relative;
    padding: 240px 0 445px;
    background-position: -50px 0px;
}
  section.cann {
	padding: 50px 0 150px;
    background-size: cover;
    margin-bottom: -350px;
    z-index: 111;
    position: relative;
    background-position: 1140px 0px;
}
  section.form-area {
	background: #ea1a77;
	padding: 190 px 0 100px;
	margin-top: -408px;
}
form-sec h2 {
	margin-top: 90px;
}
    nav#dynamic:before {
      background: url(header-bottom.png);
      position: absolute;
      bottom: -16px;
      left: 0px;
      right: 0px;
      content: "";
      background-size: cover;
      width: 100%;
      height: 26px;
  }	
}
