<div class="page-width">
  <div class="empty-page-content text-center">
    <img src="{{'g-404.svg' | asset_url}}" alt="" />
    
    <h4>F<span class="hideText">uck</span>, looks like this page has been ghostbusted... </h4>
    <p>Never mind, you can still visit all our other pages. Click around, stay a while.</p>
    <p>
      <a href="{{ routes.root_url }}" class="primary-btn ex-l">Browse</a>
    </p>
  </div>
</div>
