{% section 'collectible-top' %}
{% section 'collectible-images-section' %}
<div class="container-fluid">
{% section 'collectible-text-section' %}
{%section  'collectible-register-card' %}
{% section 'collectible-hologram-section' %}
</div>
{%section 'section-form-straight' %}
