<div class="drop-news retail-title">
  <div class="container-fluid">
    <h1>{{ page.title }}</h1>
  </div>
</div>
<div class="shopify-section">
   {{ page.content }}
</div>
{% section 'page-newsletter-retail-partners' %}
{% section 'page-faqs-retail-partners' %}

<section class="featured-strainzz posiiton-relative d-none">
  <div class="container-fluid">
    <div class="drop-block drop-white">
         <div class="drop-water" data-drop="fade-down" data-drop-time="4000" data-drop-width="30" data-drop-height="200"></div>
         <div class="drop-water" data-drop="fade-down" data-drop-time="2000" data-drop-width="36" data-drop-height="160"></div>
         <div class="drop-water" data-drop="fade-down" data-drop-time="3000" data-drop-width="36" data-drop-height="180"></div>
         <div class="drop-water" data-drop="fade-down" data-drop-time="1000" data-drop-width="30" data-drop-height="260"></div>
         <div class="drop-water" data-drop="fade-down" data-drop-time="2000" data-drop-width="30" data-drop-height="200"></div>
      </div>
  </div>
</section>