{%section  'investor-top'%}
{%section 'investor-request-section'%}
{%section 'investor-contact-section'%}
{%section 'investor-news-section'%}







<section class="ghost-meet insvtwq d-none">
  <div class="container-fluid">
          <div class="drop-block drop-white">
         <div class="drop-water drop-init drop-slide" data-drop="fade-down" data-drop-time="4000" data-drop-width="36" data-drop-height="180" style="width: 36px; height: 180px; transition: all 4s ease 0s;"></div>
         <div class="drop-water drop-init drop-slide" data-drop="fade-down" data-drop-time="2000" data-drop-width="30" data-drop-height="260" style="width: 30px; height: 260px; transition: all 2s ease 0s;"></div>
         <div class="drop-water drop-init drop-slide" data-drop="fade-down" data-drop-time="3000" data-drop-width="30" data-drop-height="200" style="width: 30px; height: 200px; transition: all 3s ease 0s;"></div>
         <div class="drop-water drop-init drop-slide" data-drop="fade-down" data-drop-time="1000" data-drop-width="40" data-drop-height="330" style="width: 40px; height: 330px; transition: all 1s ease 0s;"></div>
         <div class="drop-water drop-init drop-slide" data-drop="fade-down" data-drop-time="2000" data-drop-width="30" data-drop-height="280" style="width: 30px; height: 280px; transition: all 2s ease 0s;"></div>
         <div class="drop-water drop-init drop-slide" data-drop="fade-down" data-drop-time="4000" data-drop-width="30" data-drop-height="220" style="width: 30px; height: 220px; transition: all 4s ease 0s;"></div>
         <div class="drop-water drop-init drop-slide" data-drop="fade-down" data-drop-time="3000" data-drop-width="40" data-drop-height="260" style="width: 40px; height: 260px; transition: all 3s ease 0s;"></div>
      </div>
    <div class="row">
      <div class="col-md-9"><h2 class="gd-news">Ghost Drops in the News</h2></div>
      <div class="col-md-3"><a href="" class="primary-btn mt-exa dsk-view">All News</a></div>
    </div>
     
  <div class="row">
    <div class="col-md-4">
      <div class="brick">
        <a href=""><img src="{{'nw-1.jpg' |asset_url}}" alt="" class="w-100" /></a>
        <a href="">  <h4>The Benefits of a Medical Cannabis Document</h4></a>
          <p>An increasing number of countries worldwide are legalizing medical use of cannabis. Canada, ... </p>
          <a href="">Read More</a>
      </div>
      </div>
      <div class="col-md-4">
      <div class="brick">
        <a href="">  <img src="{{'nw-2.jpg' |asset_url}}" alt="" class="w-100" /></a>
		  <a href="">  <h4>The Benefits of a Medical Cannabis Document</h4></a>
          <p>An increasing number of countries worldwide are legalizing medical use of cannabis. Canada, ... </p>
          <a href="">Read More</a>
      </div>
      </div>
      <div class="col-md-4">
      <div class="brick">
       <a href="">  <img src="{{'nw-3.jpg' |asset_url}}" alt="" class="w-100" /></a>
		  <a href="">  <h4>The Benefits of a Medical Cannabis Document</h4></a>
          <p>An increasing number of countries worldwide are legalizing medical use of cannabis. Canada, ... </p>
          <a href="">Read More</a>
      </div>
      </div>
    

  </div>
   <a href="" class="primary-btn mt-exa mob-view">All News</a>
    <div class="position-relative">
    <h3>Meet<br class="mob-view"> the team<br class="mob-view"><br class="dsk-view"> behind<br class="mob-view"> the Ghost</h3><a href="/pages/ghost-crew" class="primary-btn">The Ghost Grew</a>
<!--     <img src="//cdn.shopify.com/s/files/1/0607/7104/1503/t/5/assets/smily-cross.png?v=5005632475727772231" alt="" class="smill-shape"> -->
    </div>
 </div>
</section>
