{% section 'blog-detail-banner' %}
<div class="container-fluid">
  {% section 'blog-content-turkey' %} 
  {% section 'blog-content-turkey2' %}
  {% section 'fcf-inner-blogturkey' %}
</div>
{%section 'section-form-straight' %}