{% section 'blog-detail-banner1' %}
<div class="container-fluid">
  {% section 'blog-content-one1' %} 
  {% section 'blog-content-two2' %}
  {% section 'khalifa-inner-blog' %}
</div>
{%section 'section-form-straight1' %}