{%section 'allstar-banner' %}
<div class="wave-img">
  <img src="{{'white-layer.png' | asset_url}}" class="w-100 resp-img">
</div>
<section class="og-content og-wht">
<div class="container-fluid new-size">
{%section 'allstar-partner'%}
<div class="new-logo-depart">
 {%section 'logos-section-one' %}
 {%section 'logos-section-one-v2' %}
 <div class="grey-bd"></div>
 {%section 'nursery-logos' %}
<div class="grey-bd"></div>
 {%section 'lp-logos' %}
<div class="grey-bd"></div>
{%section 'genetic-logos' %}
<div class="grey-bd"></div>
{%section 'concentrates-logos' %}
<div class="grey-bd"></div>
{%section 'leagues-logos' %}
</div>
    
 </div>
</section>
{%section 'section-form-whitedrop'%}
		