{%section 'strain-product-banner' %}
<section class="featured-categories">
{%section 'strain-products' %}
{%section 'format-products' %}
{%section 'strains-drop-work' %}
</section>
{%section 'section-form' %}

