{%section 'cannibies-banner' %}
<section class="featured-categories">
{%section 'cannibies-products' %}
{%section 'cannabies-left-text-right-image' %}
{%section 'cannabies-right-text-left-image' %}
</section>
{%section 'section-form' %}

