{%section 'section-gear-top'%}
<section class="ghost-ct">
  <div class="container-fluid">
<!--   {%section 'ghost-gear-banner'%} -->
  {%section 'ghost-gear-collection-3'%}
  {%section  'all-products' %}
<!--   {%section 'ghost-gear-collection-1'%} 
  {%section 'ghost-gear-collection-2'%}  -->
  
 </div>
</section>
