{% section 'blog-detail-banner' %}
<div class="container-fluid">
  {% section 'blog-content-one' %} 
  {% section 'blog-content-two' %}
  {% section 'fcf-inner-blog' %}
</div>
{%section 'section-form-straight' %}