
{% section  'section-toronto' %}
<div class="drop-news toronto d-none">
  <div class="container-fluid">
    <h1>Ghost Drops Toronto</h1>
  </div>
</div>
<section class="toronto-text d-none">
	<div class="container-fluid">
      <div class="drop-block drop-black">
         <div class="drop-water" data-drop="fade-down" data-drop-time="4000" data-drop-width="36" data-drop-height="180"></div>
         <div class="drop-water" data-drop="fade-down" data-drop-time="2000" data-drop-width="30" data-drop-height="260"></div>
         <div class="drop-water" data-drop="fade-down" data-drop-time="3000" data-drop-width="30" data-drop-height="200"></div>
         <div class="drop-water" data-drop="fade-down" data-drop-time="1000" data-drop-width="40" data-drop-height="330"></div>
         <div class="drop-water" data-drop="fade-down" data-drop-time="2000" data-drop-width="30" data-drop-height="280"></div>
         <div class="drop-water" data-drop="fade-down" data-drop-time="4000" data-drop-width="30" data-drop-height="220"></div>
         <div class="drop-water" data-drop="fade-down" data-drop-time="3000" data-drop-width="40" data-drop-height="260"></div>
      </div>
      <div class="row">
        <div class="col-md-6"> 
          <h5><span>GHOST DROPS TORONTO <br></span> 1184 QUEEN STREET WEST <br>TORONTO, ON, <br>M6J 1J5, CANADA</h5>
        </div>     
        <div class="col-md-6 right-sect">
          <h5><span>STORE HOURS: </span> <br> MON-THU: 10AM-10PM<br>
            FRI-SAT: 10AM-11PM <br>
            SUN: 10AM - 8PM <br><span><br>(647) 345-4444</span></h5>
        </div>
        <div class="col-md-6 ">
          <h5>Ghost Drops flagship store allows visitors to experience the most notorious cannabis brand in Canada in-person</h5>
          <a href="/pages/shop" class="primary-btn">SHOP NOW</a> 
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="outer-img">
          <img src="https://cdn.shopify.com/s/files/1/0607/7104/1503/files/toronto-image-resize.jpg?v=1650015507"></div>
        </div>
      </div>
    </div>
</section>
