{% section 'collectibles-top' %}
<section class="data-area-one">
<div class="container-fluid">
{% section 'collectibles-text-section' %}
<hr class="padd-line">
{% section 'collectibles-register-card' %}
</div>
</section>
{% section 'collectibles-how-it-works' %}
{% section 'collectibles-hologram-section' %}
{% section 'collectibles-leauge' %}
{% section 'section-form-straight' %}