{%section 'ghost-banner' %}
{%section 'ghost-redefining' %}
<section class="legacy">
<div class="container-fluid">
  {%section 'ghost-born-in-dark' %}
  {%section 'ghost-spotlight' %}
  </div>
</section>
<section class="og-content">
{%section 'og-strain' %}
{%section 'ghost-drop-work'%}
{%section 'ghost-star-partner'%}
{%section 'ghostfarm-section'%}

   
</section>
{%section 'section-form'%}
<section class="form-area d-none">
   <div class="container-fluid">
      <div class="drop-block drop-black">
         <div class="drop-water" data-drop="fade-down" data-drop-time="4000" data-drop-width="36" data-drop-height="180"></div>
         <div class="drop-water" data-drop="fade-down" data-drop-time="2000" data-drop-width="30" data-drop-height="260"></div>
         <div class="drop-water" data-drop="fade-down" data-drop-time="3000" data-drop-width="30" data-drop-height="200"></div>
         <div class="drop-water" data-drop="fade-down" data-drop-time="1000" data-drop-width="40" data-drop-height="330"></div>
         <div class="drop-water" data-drop="fade-down" data-drop-time="2000" data-drop-width="30" data-drop-height="280"></div>
         <div class="drop-water" data-drop="fade-down" data-drop-time="4000" data-drop-width="30" data-drop-height="220"></div>
         <div class="drop-water" data-drop="fade-down" data-drop-time="3000" data-drop-width="40" data-drop-height="260"></div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <div class="form-sec">
               <h2>Homegrown, award-winning, exceptional. <span>Don't miss out.</span></h2>
               <div class="input-space select-arrow">
                  <select name="" id="">
                     <option value="" class="others">Select Interest</option>
                     <option value="" class="others">Option One</option>
                     <option value="" class="others">Option Two</option>
                     <option value="" class="others">Option Three</option>
                  </select>
                  <i class="fa fa-caret-down" aria-hidden="true"></i>
               </div>
               <div class="input-space">
                  <input type="email" placeholder="Enter your Email address" />
               </div>
               <div class="input-space">
                  <textarea  placeholder="Drop us a comnment. We love hearing from our Ghostfam!"></textarea>
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="right-spc">
               <h5>Join the Ghostfam.<span>Sign up and never miss a drop.</apan>
               </h5>
               <a href="" class="white-btn">Sign up</a>
            </div>
         </div>
      </div>
   </div>
</section>